# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env
.env
*.local

# Python
.venv/
*LightningDeal.venv/
__pycache__/
*.pyc

# Docker deploy
!ld-backend/Dockerfile
!ld-frontend/Dockerfile
